# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
__pycache__/

# Logs and databases
*.log
*.sqlite

# Environment-specific settings
.env

# Compiled Python files
*.pyc

# Dependency directories
venv/
env/
env3/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output of the 'coverage' package
htmlcov/

# Mac-specific files
.DS_Store

# PyCharm files
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code files
.vscode/

# Jupyter Notebook workspace files
.workspace/

# Editor-specific backup files
*~
